h1{
  	border: 5px solid green;
    padding: 20px;
    text-align: center;
}
.pop{
	font-size: 19px;
}
.border{
	border: 5px solid green;
    padding: 30px;
}
.mb-5{
	margin-bottom: 5px;
}
.clear{
   	clear: both;
}
.moresize{
   	border: 5px solid blue;
   	height: 500px;
}
#box1{
	width: 45%;
	float: left;
}
#box2{
	width: 45%;
	float: right;
}